 <head>
        <meta charset="utf-8">
        <title>header Page with mustache header</title>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
         <p><a href="/project">Project</a></p>
        <p>{{screamIt welcomeMsg}}</p>
   </head>